@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Regular */
@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400; /* обычный вес */
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500; /* medium вес */
  font-style: normal;
}
